/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a simple framework built on top of it.
 * For details about its CSS, see https://infima.dev/docs/getting-started/introduction
 */

/* Helpers4 Color Scheme */
:root {
  --ifm-color-primary: #3b82f6;
  --ifm-color-primary-dark: #2563eb;
  --ifm-color-primary-darker: #1d4ed8;
  --ifm-color-primary-darkest: #1e40af;
  --ifm-color-primary-light: #60a5fa;
  --ifm-color-primary-lighter: #93c5fd;
  --ifm-color-primary-lightest: #dbeafe;
  --ifm-code-font-size: 95%;
  --docusaurus-announced-color: #fbbf24;
  --ifm-link-hover-decoration: underline;
}

html[data-theme='dark'] {
  --ifm-color-primary: #60a5fa;
  --ifm-color-primary-dark: #3b82f6;
  --ifm-color-primary-darker: #2563eb;
  --ifm-color-primary-darkest: #1d4ed8;
  --ifm-color-primary-light: #93c5fd;
  --ifm-color-primary-lighter: #bfdbfe;
  --ifm-color-primary-lightest: #dbeafe;
}

.docTitle {
  font-size: 3rem;
}
